<!-- 4.2 -->
<ng-container *ngIf="intervalObs$ | async as clock; else default">
        <span style="font-size: 30px">{{clock | timeFormat}} </span>
</ng-container>
<ng-template #default class="template">
    <span style="font-size: 30px">
        00:00:00
    </span>
</ng-template>
<!-- 4.2 -->

<div style="padding: 10px;font-size: 15px">
    <button #start type="button">
        <fa-icon [icon]="faPlay" style="color:mediumseagreen"></fa-icon>
    </button>
    <button #pause type="button">
        <fa-icon [icon]="faPause" style="color:dodgerblue"></fa-icon>
    </button>
    <button #reset type="button">
        <fa-icon [icon]="faSquare" style="color:indianred"></fa-icon>
    </button>
</div>

<!-- <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://assets.newatlas.com/dims4/default/23618af/2147483647/strip/true/crop/6357x4242+0+1103/resize/1160x774!/quality/90/?url=https%3A%2F%2Fassets.newatlas.com%2Farchive%2Fstopwatch-birthday-4.jpg"/>
              <span class="card-title">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div> -->
                