<!-- <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav> -->
  
<div class="background" appInputToCountdown>
  <div class="header">
    <p>Header</p>
  </div>
  <div class="left">
    <app-countdown></app-countdown>
  </div>

  <div class="center">
    <div class="col-md-12 col-sm-12">
      <app-time-input></app-time-input>
      <div class="container" style="padding: 10px;margin:10px;text-align:center">
        <app-drill></app-drill>
      </div>

    </div>
  </div>

  <div class="footer">
    <p>Footer</p>
  </div>
</div>
