.left {
    /* height: 60%;
    padding: 20px;
    position:relative; */
    /* width: 40%;
    top: 35%;
    left: 21%; */
    /* width: 29%;
    top: 35%;
    left: 15%; */
    height: 60%;
    padding: 0px;
    position: relative;
    width: 24%;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
    z-index: 1;
    background: #2a2e35; 
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -10;
    background: rgb(45, 137, 73);
    /* background: linear-gradient(135deg, rgba(89,45,137,1) 0%, rgba(255,0,0,0.2) 35%, rgba(138, 76, 76, 0.4) 50%, rgba(255,0,0,0.5) 65%, rgba(255,0,0,0.3) 100%); */
    background: linear-gradient(135deg, rgba(89,45,137,1) 0%, rgba(255, 0, 215, 0) 35%, rgba(162, 137, 173, 0.4) 50%, rgba(207, 0, 255, 0.03) 65%, rgba(255, 0, 247, 0.05) 100%);
}

.header {
    background-color: rgba(89,45,137,1);
    color: #ffffff;
    padding: 10px;
  }
  
.footer {
    background-color: rgba(89,45,137,1);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 

  }
 
  .center{
    background: grey;
    width: 325px;
    display: flex;
    right: 25%;
    /* width: 500px;
    display: flex; */
    /* right: 18%; */
    /* right: 30%; */
    position: absolute;
    top: 15%;
  }
  .right{
    background: rgb(236, 230, 230);
    width: 350px;
    display: block;
    /* right: 18%; */
    color: black;
    right: -50px;
    float:right;
    position: relative;
    top: -55%;
    color: #0e0101;
  }
